  <%= simple_form_for [gear, booking], data: { controller: 'flatpickr' } do |f| %>
    <div>
      <p class="padding"><strong>Summary of your booking:</strong> <span data-flatpickr-target="price"><%= gear.price %></span> €/day</p>

      <%= f.input :start_date, as: :string,wrapper_html: { class: 'hide', style: 'margin: 0; padding: 0;' }, label: "Select your dates",
                                            placeholder: "Select a date...",
                                            input_html: { data: {
                                              flatpickr_target: "startTime",
                                              action: "change->flatpickr#calculate",
                                              input:"",
                                              inline: true,
                                              }
                                            } %>
      <%= f.input :end_date, as: :string, label: false,
                                          placeholder: "Select a date...",
                                          input_html: { data: {
                                            flatpickr_target: "endTime",
                                            action: "change->flatpickr#calculate" },
                                            id: 'end_time',
                                            class: 'd-none'
                                            } %>
    </div>
                                            <div data-flatpickr-target="list">
                                              <p class="dates-selection">No dates in your selection</p>
                                            </div>
                                            <div class="value" data-flatpickr-target="bookings" data-flatpickr-bookings-value="<%= gear.bookings.to_json %>"></div>
                                            <div class="value" data-flatpickr-target="unavailabilities" data-flatpickr-unavailabilities-value="<%= gear.unavailabilities.to_json  %>"></div>
    <% if user_signed_in? %>
      <%= f.submit class: "button" %>
    <% else %>
      <%= link_to "You must be loged to validate the booking", new_user_session_path %>
    <% end %>
  <% end %>
