<div class="container">
  <h1>New booking</h1>
  <%= simple_form_for [@gear, @booking] do |f| %>
    <p>You are doing a booking for a "<strong><%= @gear.name %></strong>"</p>
    <p>Price for your booking "<strong><%= @gear.price %></strong>"</p>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.submit  %>
  <% end %>
</div>
