<section class="wrapper">
  <section class="container">
      <div class="one profile-card">
            <%= cl_image_tag current_user.photo.key, class: "profile-avatar"%>
            <h2><%= @user.first_name %></h2>
      </div>
      <div class="two profile-card">
          <h2>About me</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quis adipisci corrupti nostrum dolorem fugiat ullam, veritatis tenetur? Voluptate facere, quas minus tempore sequi illum delectus? Error sequi nemo qui!</p>
      </div>
      <div class="three personal-info profile-card">
        <p><%= @user.first_name %> <%= @user.last_name %></p>
        <p><%= @user.address %></p>
        <p><%= @user.email %></p>
        <%= link_to edit_user_registration_path do %>
            <button class="btn">Edit profile</button>
        <% end %>
      </div>
      <div class="four kit profile-card">
          <h2>My kit</h2>
            <div class="kit-gear">
              <% unless @gears.empty? %>
                  <% @gears.each do |gear|  %>
                      <div class="preview-gear">
                        <%= link_to gear_path(gear) do %>

                          <div class="card-picture">
                              <div class="card-profile-image"
                                style="background-image: url('<%= cl_image_path gear.photo.key, height: 300, crop: :fill %>')" >
                              </div>
                          </div>
                        <% end %>
                          <div class="card-description">
                        <%= link_to gear_path(gear) do %>

                            <p class="card-description-bold"><%= gear.name %></p>
                            <% end %>
                            <%= link_to edit_gear_path(gear) do %>
                              <button class="button">Edit gear</button>
                            <% end %>
                          </div>
                      </div>
                <% end %>
              <% else %>
                <%= link_to new_gear_path do %>
                    <button class="btn">Add gear</button>
                <% end %>
              <% end %>
            </div>
      </div>
      <div class="five bookings profile-card">
        <h2>My bookings</h2>
          <div class="bookings-gear">
              <% unless @bookings.empty? %>
                  <% @bookings.each do |booking|  %>
                      <div class="preview-gear">
                          <div class="card-picture">
                              <div class="card-profile-image"
                                style="background-image: url('<%= cl_image_path booking.gear.photo.key, height: 300, crop: :fill %>')" >
                              </div>
                          </div>
                          <div class="card-description">
                            <p class="card-description-bold">
                            <%= booking.start_date %> - <%= booking.end_date %></p>
                            <%= link_to edit_booking_path(booking) do %>
                              <button class="button">Edit booking</button>
                            <% end %>
                          </div>
                      </div>
                <% end %>
              <% end %>
            </div>
      </div>
  </section>
</section>
