<section class="wrapper">
  <section class="container">
      <div class="one profile-card">
            <%= cl_image_tag current_user.photo.key, class: "profile-avatar"%>
            <h2><%= @user.first_name %></h2>
      </div>
      <div class="two profile-card">
          <h2>About me</h2>
          <p>I live in Brussels at the moment, but I hope to travel as much as possible. I love meeting new people and discovering everything about a country/city. I adore contemporary art, the wilderness, going out, good music, and a sunny afternoon with my friends.</p>
      </div>
      <div class="three personal-info profile-card">
        <h4><%= @user.first_name %> <%= @user.last_name %></h4>
        <p><%= @user.address %></p>
        <p><%= @user.email %></p>
        <%= link_to edit_user_registration_path do %>
            <p class="button">Edit profile</p>
        <% end %>
      </div>
      <div class="four kit profile-card">
          <h2>My kit</h2>
            <div class="kit-gear">
              <% unless @gears.empty? %>
                  <% @gears.each do |gear|  %>
                      <div class="preview-gear">
                        <%= link_to gear_path(gear) do %>
                          <div class="card-picture">
                              <div class="card-profile-image"
                                style="background-image: url('<%= cl_image_path gear.photo.key, height: 300, crop: :fill %>')" >
                              </div>
                          </div>
                        <% end %>
                          <div class="card-description">
                              <%= link_to gear_path(gear) do %>
                                  <p class="card-description-bold kit-padding"><%= gear.name %></p>
                              <% end %>
                              </div>
                              <div class="two-buttons">
                              <%= link_to edit_gear_path(gear) do %>
                                <button class="button">Edit gear</button>
                              <% end %>
                              <%= link_to gear_path(gear), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                                <button class="button">Remove gear</button>
                              <% end %>
                          </div>
                      </div>
                <% end %>
              <% else %>
                <%= link_to new_gear_path do %>
                    <button class="btn">Add gear</button>
                <% end %>
              <% end %>
            </div>
      </div>
      <div class="five bookings profile-card">
        <h2>My bookings</h2>
          <div class="bookings-gear">
              <% unless @bookings.empty? %>
                  <% @bookings.each do |booking|  %>
                      <div class="preview-gear">
                          <div class="card-picture">
                          <%= link_to gear_path(booking.gear) do %>
                              <div class="card-profile-image"
                                style="background-image: url('<%= cl_image_path booking.gear.photo.key, height: 300, crop: :fill %>')" >
                              </div>
                          <% end %>
                          </div>
                          <div class="card-description">
                            <p class="card-description-bold kit-padding">

                            <%= booking.gear.name %> - <%= booking.start_date.strftime('%m/%d/%Y') %> - <%= booking.end_date.strftime('%m/%d/%Y') %>
                            <%# <%= link_to edit_booking_path(booking) do %>
                              <%# <button class="button">Edit booking</button> %>
                            <%# <% end %>
                            <%= link_to booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                              <button class="button">Remove booking</button>
                            <% end %>
                          </div>
                      </div>
                <% end %>
              <% end %>
            </div>
      </div>
  </section>
</section>
