<%= simple_form_for(gear, data: { controller: 'flatpickr-booking' }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: "Two person tent"%>
    <%= f.input :price, placeholder: "Price per day"%>
    <%= f.input :category,
                as: :check_boxes,
                collection: ['Biking trip', 'Hiking trip', 'Mountain trip', 'Beach trip'],
                input_html: { class: "tag-selector" },
                item_wrapper_class: 'tag-item' %>
    <%= f.input :unavailabilities, as: :string, label: "Select the dates where your gear is not available",
                                            placeholder: "Select a date...",
                                            input_html: { data: {
                                              flatpickr_booking_target: "date",
                                              action: "change->flatpickr-booking#register",
                                              inline: true,
                                              }
                                            } %>
    <%= f.input :short_description, placeholder: "Spacious and water resistant"%>
    <%= f.input :description, placeholder: "Write your description, min 150 characters", input_html: { minlength: 150 }%>
    <%= f.input :photo, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button  :submit %>
  </div>
<% end %>
