<%= link_to gear_path(gear),  class: "preview" do %>
  <div>
    <h6><%= gear&.name %></h6>
    <div class="pop-photo">
      <%= cl_image_tag gear.photo.key %>
        <div class="pop-descr">
            <p> <%= gear.name %></p>
            <div class="pop-info">
              <p> <%= gear.price %>€ /day </p>
            </div>
        </div>
    </div>
  </div>
<% end %>
