<div class="container mt-4">
    <h2><%= @gear.name %></h2>
        <div class="photos-card">
            <img src= <%= @gear.image_url%> alt="gear-image" width="400px">
              <div class="description-card">
                  <h3> <%= @gear.name %></h3>
                  <h5> <%= @gear.short_description %> </h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, dolore debitis saepe maxime non, beatae magnam aperiam assumenda facere perspiciatis deleniti vel voluptatem commodi voluptate earum architecto deserunt, voluptatum at.</p>
                    <div class="practical-info-card">
                        <div class="user-card">
                            <%= image_tag "dogo.jpeg", alt: 'avatar', class: 'avatar-large'%>
                            <p>Owner</p>
                        </div>
                        <h5> <%= @gear.price %>€ /day </h5>
                        <%# <%= @gear.user.email %>
                    </div>
              </div>
        </div>

</div>
