<!DOCTYPE html>
<html>
  <head>
    <title>CGear</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <div class="card-container">
        <div class="card-product">
          <div class="card-picture">
            <img src="https://a0.muscache.com/im/pictures/miso/Hosting-795742377783721248/original/7be2f370-fc8f-4871-a686-9f698bce86dc.jpeg?im_w=720" alt="">
            <div class="card-dot">
              <p><i class="fa-solid fa-circle"></i></p>
              <p><i class="fa-solid fa-circle"></i></p>
              <p><i class="fa-solid fa-circle"></i></p>
              <p><i class="fa-solid fa-circle"></i></p>
            </div>
            <div class="card-favorite">
              <p><i class="fa-solid fa-heart" style="--fa-border-color: white; --fa-border-width: 0.5em"></i></p>
            </div>
          </div>
          <div class="card-description">
            <p class="card-description-bold">Vitry-sur-Seine, France</p>
            <p>Particulier</p>
            <p>1-6 juin</p>
            <p class="card-description-bold">15€ / jour</p>
          </div>
        </div>
        <div class="card-product">
          <div class="card-picture">
            <img src="https://a0.muscache.com/im/pictures/miso/Hosting-795742377783721248/original/7be2f370-fc8f-4871-a686-9f698bce86dc.jpeg?im_w=720" alt="">
            <div class="card-dot">
              <p><i class="fa-solid fa-circle"></i></p>
              <p><i class="fa-solid fa-circle"></i></p>
              <p><i class="fa-solid fa-circle"></i></p>
              <p><i class="fa-solid fa-circle"></i></p>
              <p><i class="fa-solid fa-circle"></i></p>
            </div>
          </div>
          <div class="card-description">
            <p class="card-description-bold">Vitry-sur-Seine, France</p>
            <p>Particulier</p>
            <p>1-6 juin</p>
            <p class="card-description-bold">15€ / jour</p>
          </div>
        </div>
        <div class="card-product">
          <div class="card-picture">
            <img src="https://a0.muscache.com/im/pictures/miso/Hosting-795742377783721248/original/7be2f370-fc8f-4871-a686-9f698bce86dc.jpeg?im_w=720" alt="">
            <div class="card-dot">
              <p><i class="fa-solid fa-circle"></i></p>
              <p><i class="fa-solid fa-circle"></i></p>
              <p><i class="fa-solid fa-circle"></i></p>
            </div>
          </div>
          <div class="card-description">
            <p class="card-description-bold">Vitry-sur-Seine, France</p>
            <p>Particulier</p>
            <p>1-6 juin</p>
            <p class="card-description-bold">15€ / jour</p>
          </div>
        </div>
        <div class="card-product">
          <div class="card-picture">
            <img src="https://a0.muscache.com/im/pictures/miso/Hosting-795742377783721248/original/7be2f370-fc8f-4871-a686-9f698bce86dc.jpeg?im_w=720" alt="">
            <div class="card-dot">
              <p><i class="fa-solid fa-circle"></i></p>
              <p><i class="fa-solid fa-circle"></i></p>
              <p><i class="fa-solid fa-circle"></i></p>
              <p><i class="fa-solid fa-circle"></i></p>
              <p><i class="fa-solid fa-circle"></i></p>
              <p><i class="fa-solid fa-circle"></i></p>
            </div>
          </div>
          <div class="card-description">
            <p class="card-description-bold">Vitry-sur-Seine, France</p>
            <p>Particulier</p>
            <p>1-6 juin</p>
            <p class="card-description-bold">15€ / jour</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
